:root {
    --pixel-size: 2px;
    --grid-cell: calc( var(--pixel-size) * 16);
    --width: calc(150 * var(--grid-cell));
}

.pixel-art {
    image-rendering: pixelated;
}


.camera {
    overflow: hidden;
    background: #61ddf7;
    position:relative;
}

.map {
    image-rendering: pixelated;
    background-image: url("https://bafybeid5mwlza7c3ny7hgh2mxk3nem4nwczk2jtb67qn2vtdarnetnr7xe.ipfs.infura-ipfs.io/");
    background-size: 100%;
    width: calc(15 * var(--grid-cell));
    height: calc(15 * var(--grid-cell));
    position: relative;
}

.character {
    width: calc( var(--grid-cell)* 3 );
    height: calc( var(--grid-cell)* 3 );
    position: absolute;
    overflow:hidden;
    border: 0;
 }

 .shadow {
    width: calc( var(--grid-cell)* 3 );
    height: calc( var(--grid-cell)* 3 );
    position: absolute;
    left:0;
    top:0;
    background: url("https://assets.codepen.io/21542/DemoRpgCharacterShadow.png") no-repeat no-repeat;
    background-size: 100%;
    border: 0;
 }

 .character_spritesheet {
    position: absolute;
    background: url("https://dg.kesar.dev/character.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc( var(--grid-cell)* 12 );
    height: calc( var(--grid-cell)* 12 );
    border: 0;
 }
 
 .character[facing="right"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -48 );
 }
 .character[facing="up"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -96 );
 }
 .character[facing="left"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -144 );
 }
 .character[walking="true"] .character_spritesheet {
    animation: walkAnimation 0.6s steps(4) infinite; 
 }

 .shot {
   transition: transform 2s;
 }
 
 @keyframes walkAnimation {
    from {
      transform: translate3d(0%,0%,0);
    }
    to {
      transform: translate3d(-100%,0%,0);
    }
  }
  
  .visible {
     animation: fadeIn 0.6s steps(12);
     opacity: 100;
  }

  .hide {
      animation: fadeOut 0.6s steps(12);
      opacity: 0;
  }

   @keyframes fadeOut {
      from {
         opacity: 100;
      }
      to {
         opacity: 0;
      }
   }

   @keyframes fadeIn {
      from {
         opacity: 0;
      }
      to {
         opacity: 100;
      }
   }

   div {
      font-family: 'Play';
   }

.container{
   width: 400px;
   height: 225px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
   border: 1px solid black;
}
#display_image{
   width: 300px;
   height: 169px;
   border: 1px solid black;
   background-position: center;
   background-size: cover;
}
 
